# Application Settings
APP_PORT=18080
APP_MODE=development
BASE_URL=http://localhost:18080

# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=your_db_password
DB_NAME=goticketdb
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

# JWT Authentication
JWT_SECRET=your_jwt_secret_key_here

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=noreply@yourdomain.com
AUTH_PASSWORD=your_smtp_app_password
